.sec3-flex { 
    display: flex; 
    background-color: white;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    flex: 30 0 auto;
}

.sec3-flex-items {
    padding: 30px; 
}

.sec3-flex-div {
    height: 400px; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin: 0 auto; 
    width: 100%; 
}


.sec3-img1 {
    height: 400px; 
    width: 100%;
    background-image: url(img/sec3-img1.jpg);
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-position: 10% 0, 10% -10vh; */
}

.sec3-img2 {
    height: 400px; 
    width: 100%;
    background-image: url(img/sec3-img2.jpg);
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-position: 10% 0, 10% -10vh; */
}


.sec3-img3 {
    height: 400px; 
    width: 100%;
    background-image: url(img/sec3-img3.jpg);
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-position: 10% 0, 10% -10vh; */
}


.sec3-txt1 {
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
    margin: 0 auto;
    font-family: 'Roboto', serif !important;
}

    
.sec3-txt2 {
    word-wrap: break-word;
    position: relative;
    font-family: 'Playfair Display', serif !important;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 0 0;
    text-align: center;
}


.sec3-txt3 {
    word-wrap: break-word;
    position: relative;
    font-size: 1.4rem;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 20px;
    display: table;
    align-self: flex-start;
    width: fit-content;
    margin: 20px auto 0 0
}


.sec3-txt4 {
    background-image: none;
    border-style: solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    text-decoration: none;
    border-left-width: 0;
    border-left-style: none;
    border-right-width: 0;
    border-right-style: none;
    border-top-width: 0;
    border-top-style: none;
    border-width: 2px;
    border-color: #000000;
    color: #000000;
    background-color: transparent;
    stroke: none;
}

.sec3-txt4:hover {
    border-bottom-width: 0;
    border-bottom-style: none;
}

    
@media screen and (max-width: 800px) {
    .sec3-flex { 
        flex-direction: column;
        } 

}


@media screen and (max-width: 990px) {
    .sec3-flex { 
        flex-direction: column;
        } 

}

