!!!
%html(lang="en")
	%head
		%meta(charset="UTF-8")/
		%link(rel="stylesheet" type="text/css" href="style.css")/
		%title HAML and Sass Preprocessing
	%body
		%div.container
			%div#header HeaderNav
			%div#content
				%div.parent
					%div.grid-item.cards 1
					%div.grid-item.cards 2
					%div.grid-item.cards 3
					%div.grid-item.cards 4
					%div.grid-item.cards 5
					%div.grid-item.cards 6
			%div#content Section 
			%div#content Footer