* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header-container {
  background-color: white;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  box-sizing: border-box;
  max-width: 900px;
  margin: 0 auto;
  align-items: center;
}
.a {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-link {
  margin: 0 7px;
  text-decoration: none;
  color: #575757;
  font-size: 18px;
}
.main-logo {
  display: flex;
  width: 62px;
}
.menu-bar {
  display: none;
}
.content-section {
  background-color: #F2F2F2;
  padding: 50px 20px 50px 20px;
}
.content-container {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
}
.content-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  background-color: white;
}
.content-img {
  display: flex;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}
.content-textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 100%;
  width: 100%;
}
.content-textbox-jack {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #DB545A;
  color: white;
  height: 100%;
  width: 100%;
}
.content-textbox-big {
  font-size: 32px;
}
.content-textbox-small {
  font-size: 22px;
}
.footer-container {
  background-color: #333333;
  color: white;
  font-size: medium;
  width: 100%;
  padding: 40px;
  text-align: center;
}
.footer-link {
  color: #4F7997;
  font-size: medium;
}
