!!!
%html(lang="en")
  %head
    %meta{ :charset => "UTF-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %link{ :rel => "stylesheet/less", :type => "text/css", :href => "css/index.less" }
    %link{ :rel => "stylesheet/less", :type => "text/css", :href => "css/media.less" }
    %script{ :src => "https://cdn.jsdelivr.net/npm/less" }
    %script{ :src => "https://kit.fontawesome.com/ae98919802.js", :crossorigin => "anonymous" }
    %link{ :rel => "preconnect", :href => "https://fonts.gstatic.com" }
    %link{ :href => "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap", :rel => "stylesheet" }
    %link{ :href => "https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap", :rel => "stylesheet" }
    %title HAML and SASS Preprocessing
  %body
    %header
      %div.header-container
        %a{ :href => "#", :title => "Logo"}
          %img.main-logo{ :src => "img/logo.png", :alt => "Logo"}
        %div.menu-bar
          %i.menu-bar-icon.fa-solid.fa-bars
        %nav.header-nav
          %a.header-link{ :href => "#", :title => "О нас"}О нас
    %section.content-section
      %div.content-container
        %div.content-grid-item
          %img.content-img{ :src => "img/selia.jpg", :alt => ""}
        %div.content-grid-item
          %div.content-textbox-jack
            %p.content-textbox-big Jack Alvarez
            %p.content-textbox-small Sales Manager
        %div.content-grid-item
          %img.content-img{ :src => "img/nat.jpg", :alt => "" }
        %div.content-grid-item
          %div.content-textbox
            %p.content-textbox-big Celia Almeda
            %p.content-textbox-small Office Manager
        %div.content-grid-item
          %img.content-img{ :src => "img/jack.jpg", :alt => "" }
        %div.content-grid-item
          %div.content-textbox
            %p.content-textbox-big Nat Reynolds
            %p.content-textbox-small Accountant-auditor
    %footer
      %div.footer-container
        %p Пример текста. Кликните, чтобы выбрать элемент "Текст".
      %div.footer-container
        %a.footer-link{ :href => "https://nicepage.com/st/41172/about-our-business-team-website-template"} Website Templates created with Website Builder Software.