!!! 5
%html(lang="en")
    %head
        %meta(charset="UTF-8")/
        %meta(name="author" content="Dmitriy Plaschinskiy")/
        %link(rel="stylesheet" type="text/css" href="style.css")/
        %title HAML and CSS Preprocessing
    %body
        header()
            Box1


