!!!
%html(lang="en")
	%head
		%meta(charset="UTF-8")/
		%link(rel="stylesheet" type="text/css" href="style.css")/
		%title HAML and Sass Preprocessing
	%body
		%div.container
			%div#nav Nav
			%div#header Header
			%div#content
				%div.parent
					%div.item 1
					%div.item 2
					%div.item 3
					%div.item 4
					%div.item 5
					%div.item 6
			%div#content Bottom
			%div#content Section 
			%div#content Footer